@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
    font-family: "Noto Serif", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */
.width {
    max-width: 1140px;
    margin: 0 auto;
}

.grey {
    color: rgb(137, 135, 161);
}

.btn {
    text-align: center;
    color: white;
    background: rgb(233, 90, 8);
    padding: 20px 50px 20px 50px;
    border: none;
    width: 270px;
}


/* navbar styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 30px;
}

.navbar .menu-item ul {
    display: flex;
    gap: 48px;
}

.navbar .menu-item ul li {
    list-style: none;

}

.navbar .menu-item ul li a {
    text-decoration: none;

}


/* banner styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 120px;
}

.banner .banner-container {
    max-width: 570px;
}

.banner .banner-container h2 {
    font-size: 4rem;
    font-weight: 700;
}

span {
    color: rgb(233, 90, 8);
}

.banner .banner-container p {
    font-family: Inter;
    font-weight: 400;
    Font-size: 1.5rem;
    margin-top: 13px;
}

.banner .banner-img {
    max-width: 570px;
}


/* plants section style */

.plants {
    margin: 200px auto;
}

.plants h3 {

    text-align: center;
    font-size: 3.125rem;
    font-weight: 700;
}

.plants p {
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    Font-size: 1.5rem;
    margin-top: 13px;
}

.cards {
    margin-top: 45px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .card img {
    width: 270px;
    margin-bottom: 15px;
}

.cards .card h3 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.cards .card h4 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* plant-lover styles */
.plants-lover {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;

}

.plants-lover>div {
    flex: 1;
}

.plants-lover-img {
    position: relative;
}

.plants-lover-img2 {
    position: absolute;
    width: 286px;
    height: 286px;
    left: 400px;
    top: -150px;
}

.plants-lover h3,
.latest h3 {

    text-align: center;
    font-size: 3.125rem;
    font-weight: 700;
}

.plants-lover-description h2 {
    margin-top: 38px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700
}

.plants-lover-description ul li {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(137, 135, 161);

}


/* latest deal section styles */
.latest {
    margin-top: 133px;
}

.latest p {
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
}

.latest-cards {
    margin: 120px auto;
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 3fr;
}

.latest-cards .card1,
.card2,
.card3 {
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.latest-cards .card1 {
    width: 366px;
    height: 206px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)100%), url("../assets/deal-bloom.png");
}

#card-2 {
    grid-row: span 2;
}

.latest-cards .card2 {
    width: 753px;
    /* height: 423px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)100%), url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.latest-cards .card3 {
    width: 366px;
    height: 206px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)100%), url("../assets/deal-ana.png");


}

.latest-cards .card1 h5,
.card3 h5 {
    font-size: 20px;
    font-weight: 700;
    color: white;

}

.card2 h5 {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.latest-cards .card1 h6,
.card2 h6,
.card3 h6 {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: white;
    margin-top: 19px;
}


/* join section styles */
.join {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
}

.join h1 {
    text-align: center;
    padding-top: 170px;
    margin-bottom: 23px;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.double-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 170px;
}

input[type="email"] {
    width: 550px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}

.btn2 {
    font-size: 1rem;
    color: white;
    background: rgb(233, 90, 8);
    padding: 15px 50px 15px 50px;
    border: none;
    width: 270px;
}


/* footer section styles*/

.footer-section {
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
}

.footer-section>div>img {
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-section ul li {
    list-style: none;
    margin-bottom: 30px;
}

.footer-section ul li a {
    color: rgb(137, 135, 161);
    text-decoration: none;
}


/* mobile responsive */
@media screen and (max-width: 668px) {
    .logo img {
        width: 100%;
    }

    .navbar,
    .banner,
    .plants-lover,
    .plants,
    .latest,
    .join,
    .footer-section {
        padding: 0 10px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    /* navbar */

    .navbar .menu-item .none {
        display: none;
    }

    /* banner */
    .banner {

        margin: 0;
        flex-direction: column-reverse;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .banner-img>img {
        width: 100%;
    }

    .banner-container h2,
    p {
        text-align: center;
        margin-bottom: 20px;
    }

    /* plants section */
    .plants-title {}

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards .card img {
        width: 100%;
    }

    .cards .card button {
        width: 100%;
    }

    /* plants lover section */
    .plants-lover {
        margin-top: 20px;
        gap: 20px;
        margin-bottom: 30px;
        justify-content: center;
        flex-direction: column;
    }

    .plants-lover-description {
        text-align: center;
    }

    .plants-lover-img1 {
        width: 100%;
    }

    .plants-lover .plants-lover-img2 {
        display: none;
    }

    /* latest section */
    .latest {
        margin-bottom: 30px;
    }

    .card2 h5 {
        text-align: center;
    }

    .latest h3,
    p {
        text-align: center;
    }

    .latest-cards {
        margin: 30px auto;
        grid-template-columns: 1fr;
    }


    .latest-cards .card2,
    .card3 {
        width: 100%;
        margin: 0 auto;
    }

    .latest-cards .card1 {
        margin: 0 auto;
    }

    .latest-cards #card-2 {
        width: 366px;
        height: 206px;
    }

    input[type="email"] {
        width: 200px;
    }

    .btn2 {
        width: 150px;
    }

    /* footer section */
    .footer-section {
        margin-top: 50px;
        margin-bottom: 200px;
        flex-direction: column;
    }

    .footer-section>div p {
        text-align: left;

    }
}